.dot {
  display: inline-block;
  border: 1px solid #0F1C3F;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin-left:5px;
  vertical-align: text-bottom;
}

table {
	max-width: 550px;
	margin: auto;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
}

td.dt{
	width: 0.1% !important;
	text-align: center;
}

.Colred {
	background-color: #CC0000;
}

.Colgreen {
	background-color: #669900;
}

.Colwhite {
	background-color: #FFBD21;
}

.Colpurple {
	background-color: #9933CC;
}

.Colrose {
	background-color: #C9368F;
}