.dot {
  display: inline-block;
  background: #456BD9;
  border: 1px solid #0F1C3F;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin-left:5px;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid #000;
	border-collapse: collapse;
}

td.dt, td.Col{
	width: 0.1% !important;
}

td.dayTitle {
	width: 250px !important;
}

.ColDred {
	background-color: #CC0000;
}

.ColDgreen {
	background-color: #669900;
}

.ColDwhite {
	background-color: #FFBD21;
}

.ColDpurple {
	background-color: #9933CC;
}

.ColDrose {
	background-color: #C9368F;
}